<div class=" footer" >
    <div fxLayoutAlign="center"><span>NekoCakes</span></div>
    <div fxLayoutAlign="center"><span>©Copyrigth 2020</span></div>
    <div fxLayoutAlign="center" ><span>Contactenos:</span></div>
    <div fxLayoutAlign="center center">
        <a mat-icon-button class="btn-google-plus" href="http://google.com/+"><i class="fa fa-google-plus fa-lg">G</i></a>
        <a mat-icon-button class="btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook fa-lg">F</i></a>
        <a mat-icon-button class="btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin fa-lg">Ln</i></a>
        <a mat-icon-button class="btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter fa-lg">Tw</i></a>
        <a mat-icon-button class="btn-youtube" href="http://youtube.com/"><i class="fa fa-youtube fa-lg">Yt</i></a>
    </div>
</div>