<div class="tamaño" fxLayoutAlign="center center">
  <carousel
    [images]="images"
    [height]="700"
    [width]="1200"
    [cellWidth]="600"
    [counter]="true"
    [autoplay]="true"
    [autoplayInterval]="2000"
    [loop]="true"
  >
  </carousel>
</div>
<div fxLayoutAlign="center center">
  <img src="src\assets\Logos\Vegan.png" alt="Logo vegan" class="Logos" />

  <img src="src\assets\Logos\Tacc.png" alt="Logo sin Tacc" class="Logos" />

  <img
    src="src\assets\Logos\sinazucar.jpg"
    alt="Logo sin Azucar"
    class="Logos"
  />
</div>
