.Logos{
  padding-inline-start: 5px;
  padding-inline-end: 5px;
  max-width: 150px;
  padding-block-start: 10px;
  padding-block-end: 10px;
}

.tamaño{
  padding-top: 2%;
  padding-bottom: 2%;
  max-height: 50%;
}